	<div id="record_step1">
		<label>This recording will be about publication</label>
		<p><%=@webinar.publication.title%></p>

		<label>Please, set a title for the recorded webinar:</label>
		<input class="form-control" placeholder="Title" id="recording_title" type="text">
	</div>

	<div class="hidden" id="record_step2">

		<label>This recording will be about publication</label>
		<p><%=@webinar.publication.title%></p>
		<label>title</label>
		<p id="recording_title_label"></p>

		<label>To start the recording, in the popover in the left side:</label>
		<ol>
			<li>Select "IDeM" in the "Window to share" option</li>
			<li>Select the desired mic in the "Mic to share" option</li>
			<li>Click on "Share selected elements"</li>
		</ol>
	</div>

	<!--Closing body div-->
</div>   
<div class="modal-footer">
	<button type="button" class="button-secondary-yellow" data-dismiss="modal">Close</button>
	<button type="button" id="next_button" class="button-primary-yellow">Next</button>
</div>