<label>This recording will be about publication</label>
<p><%=@webinar.publication.title%></p>

<label>To start the recording fill the title and then, in the popover in the left side:</label>
<ol>
	<li>Select "IDeM" in the "Window to share" option</li>
	<li>Select the desired mic in the "Mic to share" option</li>
	<li>Click on "Share selected elements"</li>
</ol>

<label>Title</label>
<input class="form-control" placeholder="Title" id="recording_title" type="text">

<!--Closing body div-->
</div>   
<div class="modal-footer">
<button type="button" class="button-secondary-yellow" data-dismiss="modal">Close</button>
</div>