<div class="modal fade" id="new_recording_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><%=action%> webinar</h3>
      </div>
      <% if action == 'Record' %>
        <%=render "recordings/create_form"%>
      <% else %>
        <%=render "recordings/edit_form"%>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->