<%= publication.title %>
<% if showActions %>
  <ul>
    <li><%= link_to('Crear presentación', new_presentation_path({:publication => publication.id})) %></li>
    <li><%= link_to('Crear webinar', new_webinar_path({:publication => publication.id})) %></li>
  </ul>
<% end %>