<label>Publication this presentation will be about</label>
<% pub_array = current_user.publications.map { |pub| [truncate(pub.title, :length => 60), pub.id] } %>
<%= select_tag(:create_with_publication_id, options_for_select(pub_array), :class => 'form-control') %>
	
<script>
	$(document).ready(function () {
			$(document).on("click", "#btn-crear", function () {
			     var pubid = $("#create_with_publication_id").val();
			     var loc = "/presentations/new?publication="+pubid;
			     document.location = loc;
			});
		});
</script>