<h4 class="actions-header-presentation">Related presentations</h4>
<div class="author_presentations_list">
  <% @suggestions.each do |pres| %>
    <%= render 'presentations/presentation_mini', :presentation => pres, :isPresentationOwner => isPresentationOwner %>
  <% end %>
</div>
