<div class="modal fade" id="new_presentation_modal" tabindex="-1" role="dialog" aria-labelledby="presModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="presModalLabel">Create presentation</h3>
      </div>
      <div class="modal-body">
        <%=render :partial => "presentations/form.html.erb" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-secondary-red" data-dismiss="modal">Close</button>
        <button type="button" class="button-primary-red" id="btn-crear">Crear</button>
    </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->