<div class="col-md-2 col-xs-6 presentation-item">

  <div class="presentation create-presentation" data-toggle="modal" data-target="#new_presentation_modal">
    <i class="fa fa-plus" ></i>
    <p>Create new presentation</p>
  </div>
</div>
