<% if isPresentationOwner%>

<!--BTN ACTIONS-->
<div class="btn-group actions_layout_show">

  <!-- Edit -->
  <button class="button-primary-red" data-toggle="tooltip" title="Edit" onclick="location.href='<%=edit_presentation_path(@presentation)%>'">
    <i class="fa fa-pencil"></i>Edit
  </button>

<!--Remove-->
  <button class="with_tooltip delete button-primary-red" data-toggle="popover" data-container="body" title="Delete Presentation" data-placement="left" aria-hidden="true">
    <i class="fa fa-trash"></i>Delete
  </button>

 <!--Remove confirmation-->
  <div class="contentdelete" style="display: none">
    <p class="delete_p">Are you sure?</p>
    <div class="actions">
      <button class="button-secondary-red closepopover">Cancel</button>
      <%= link_to 'Delete', @presentation, :method => :delete, :class => 'button-primary-red' %>
    </div>
  </div>
</div>

<%end%>

<h4 class="actions-header-presentation">Related presentations</h4>

<div class="author_presentations_list">
  <% presentation.author.presentations.each do |pres| %>
    <% if pres.id != presentation.id %>
      <%= render 'presentations/presentation_mini', :presentation => pres, :isPresentationOwner => isPresentationOwner %>
    <% end %>
  <% end %>
</div>