<% if isWebinarOwner %>

<!--BTN ACTIONS-->
<div class="btn-group actions_layout_show">

  <button id="clear_presentation" class="button-primary-yellow button-disabled">
    <i class="fa fa-picture-o"></i>Full video
  </button>

  <!-- Edit -->
  <button class="button-primary-yellow">
    <i class="fa fa-pencil"></i><%=link_to 'Edit', edit_webinar_path(@webinar)%>
  </button>

  <!--Remove-->
  <button class="button-primary-yellow">
    <i class="fa fa-trash"></i><%= link_to 'Delete', webinar_path(@webinar), data: {:confirm => t('sure')}, :method => :delete %>
  </button>
</div>

<h4 class="actions-header-webinar">Available presentations</h4>

<div class="presentations_list">
  <% webinar.publication.presentations.each do |presentation| %>
    <%= render 'presentations/presentation_mini', :presentation => presentation, :showActions => isWebinarOwner  %>
  <% end %>
</div>

<h4 class="actions-header-webinar">Connected users</h4>
<div id="connected_users"></div>

<%end%>

<script type="text/javascript">

  document.IDEM_SESSION = document.IDEM_SESSION || {};

  document.IDEM_SESSION.switchPresentation = function(presentation,stream) {
    if (presentation === 'none') {
      $("#webinar_presentation").attr('src', '');
      $("#webinar_presentation").parent().hide();
      $("#webinar_video").addClass('present_big');
      $("#webinar_video").removeClass('present_small');
      stream.player.resize();
    } else {
      $("#webinar_presentation").attr('allowfullscreen', 'false').attr('src', presentation);
      VISH.IframeAPI.init({preventDefault: false, callback: onConnect}); //Connect to VE API for sync VE events
      $("#webinar_presentation").parent().show();
      $("#webinar_presentation").parent().addClass('present_big');

      $("#webinar_video").removeClass('present_big');
      $("#webinar_video").addClass('present_small');
      stream.player.resize();
    }
  }

  <% if isWebinarOwner %>
    document.IDEM_SESSION.addParticipant = function(stream_id,user) {
      var div = document.createElement('div');
      var img = document.createElement('img');
      var a = document.createElement('a');
      if (user !== 'guest') {
        user = JSON.parse(user.replace(/&quot;/g,'"'));
        $(img).attr('src', user.avatar);
        $(a).attr('href', user.path).attr('target','_blank');
        $(a).html(user.name);
      } else {
        $(img).attr('src', '/assets/logos/small/user.png');
        $(a).html('Guest user');
      }
      div.setAttribute("id", "user_" + stream_id);
      $(div).attr("id", "viewer_" + stream_id);
      $(div).addClass("viewer");
      $(div).append(img);
      $(div).append(a);
      $('#connected_users').append(div);
    }
    document.IDEM_SESSION.removeParticipant = function(stream_id) {
      var element = document.getElementById('viewer_' + stream_id);
      document.getElementById('connected_users').removeChild(element);
    }

    $("#init_webinar").on("click", function(e){
      document.IDEM_SESSION.room.publish(document.IDEM_SESSION.localStream);
      $("#webinar_pre").hide();

      $(".presentation_item a").on("click", function(e){
        e.stopPropagation();
      });
      $(".presentation_item").on("click", function(){
        $("#clear_presentation").removeClass('button-disabled');
        $(".presentation_item").removeClass("presentation-selected");
        $(this).addClass("presentation-selected");
        var presentation = $(this).attr("pres-url");
        document.IDEM_SESSION.switchPresentation(presentation, document.IDEM_SESSION.localStream);
        //TODO. Process send sync messages
        document.IDEM_SESSION.localStream.sendData({type: "presentation", action: 'update', pres_id: presentation});
        var attributes = document.IDEM_SESSION.localStream.getAttributes();
        attributes.current_presentation = presentation;
        document.IDEM_SESSION.localStream.setAttributes(attributes);     
      });

      $("#clear_presentation").on("click", function(){
        $("#clear_presentation").addClass('button-disabled');
        $(".presentation_item").removeClass("presentation-selected");
        document.IDEM_SESSION.switchPresentation('none', document.IDEM_SESSION.localStream);
        document.IDEM_SESSION.localStream.sendData({type: "presentation", action: 'update', pres_id: 'none'});
        var attributes = document.IDEM_SESSION.localStream.getAttributes();
        attributes.current_presentation = 'none';
        document.IDEM_SESSION.localStream.setAttributes(attributes);
      });
    });
  <%end%>

</script>