<div class="col-md-2 col-xs-6 webinar-item">

  <div class="webinar create-webinar" data-toggle="modal" data-target="#new_webinar_modal">
    <i class="fa fa-plus" ></i>
    <p>Create new webinar</p>
  </div>
</div>
