<h4 class="actions-header-webinar">Actions</h4>

<!--BTN ACTIONS-->
<div class="btn-group actions_layout_show">

  <!-- Edit -->
  <% if isWebinarOwner %>
    <button class="button-primary-yellow">
      <%=link_to t("edit"), edit_webinar_path(@webinar)%>
    </button>
  <%end%>

  
  <!--Remove-->
  <% if isWebinarOwner %>
    <button class="button-primary-yellow">
      <%= link_to t("delete"), webinar_path(@webinar), data: {:confirm => t('sure')}, :method => :delete %>
    </button>
  <%end%>

</div>


<% if isWebinarOwner %>
<h4 class="actions-header-webinar">Connected users</h4>

<ul id="connected_users">
  
</ul>



<h4 class="actions-header-webinar">Available presentations</h4>



<ul>
  <li id="clear_presentation">Clear</li>
  <% webinar.publication.presentations.each do |presentation| %>
  <li class="presentation_item" pres-url="<%=presentation_path(presentation, :format => :full)%>"><%=presentation.title%></li>
  <% end %>
</ul>

<%end%>

<script type="text/javascript">

  document.IDEM_SESSION = document.IDEM_SESSION || {};

  document.IDEM_SESSION.switchPresentation = function(presentation,stream) {
    if (presentation === 'none') {
      $("#webinar_presentation").attr('src', '');
      $("#webinar_presentation").parent().hide();
      $("#webinar_video").addClass('present_big');
      $("#webinar_video").removeClass('present_small');
      stream.player.resize();
    } else {
      $("#webinar_presentation").attr('allowfullscreen', 'false').attr('src', presentation);
      VISH.IframeAPI.init({preventDefault: false, callback: onConnect}); //Connect to VE API for sync VE events
      $("#webinar_presentation").parent().show();
      $("#webinar_presentation").parent().addClass('present_big');

      $("#webinar_video").removeClass('present_big');
      $("#webinar_video").addClass('present_small');
      stream.player.resize();
    }
  }

  <% if isWebinarOwner %>
    $(".presentation_item").on("click", function(){
      var presentation = $(this).attr("pres-url");
      document.IDEM_SESSION.switchPresentation(presentation, document.IDEM_SESSION.localStream);
      //TODO. Process send sync messages
      document.IDEM_SESSION.localStream.sendData({type: "presentation", action: 'update', pres_id: presentation});
      var attributes = document.IDEM_SESSION.localStream.getAttributes();
      attributes.current_presentation = presentation;
      document.IDEM_SESSION.localStream.setAttributes(attributes);     
    });

    $("#clear_presentation").on("click", function(){
      document.IDEM_SESSION.switchPresentation('none', document.IDEM_SESSION.localStream);
      document.IDEM_SESSION.localStream.sendData({type: "presentation", action: 'update', pres_id: 'none'});
      var attributes = document.IDEM_SESSION.localStream.getAttributes();
      attributes.current_presentation = 'none';
      document.IDEM_SESSION.localStream.setAttributes(attributes);
    });
  <%end%>

</script>