<ul class="nav nav-tabs tooltab">
  <li class="active">
    <a href="#tab0" tabTitle='description' data-toggle="tab">
      <span class="  hidden-xs">
        Description
      </span>
    </a>
  </li>
  <li>
    <a href="#tab2" tabTitle='embed' data-toggle="tab">
      <span class="  hidden-xs">
        Insert
      </span>
    </a>
  </li>
  <li>
    <a href="#tab3" tabTitle='share' data-toggle="tab">
      <span class=" hidden-xs">
        Share
      </span>
    </a>
  </li>
    <li>
      <a href="#tab4" tabTitle='download' data-toggle="tab">
        <span class="hidden-xs">
          Download
        </span>
      </a>
    </li>
</ul>

<div class="tab-content presentation-social">
  <div class="tab-pane active" id="tab0">
    Test weninar
  </div>
  <div class="tab-pane contentembed" id="tab2">
  </div>
  <div class="tab-pane contentShare" id="tab3">
  </div>
  <div class="tab-pane contentShare" id="tab4">
  </div>   
</div>