<h4> Followings</h4>

<div id="followings" class="tab-pane in active">
  <div class="row">
    <div class="followings">
      <% profileLoopData["followings"].each do |loop_contact| %>
        <div class="following_item"><%= render 'contacts/loop_contact', :contact => loop_contact, :showActions => isProfileOwner %></div>
      <% end %>
    </div>
  </div>
</div>
