<div id="publications" class="tab-pane in active">
  <% @user.publications.each do |publication| %>
    <%= render 'publications/publication', :publication => publication, :showActions => isProfileOwner %>
    <hr>
  <% end %>
</div>

<%if isProfileOwner && @user.publications.size>0%>
	<%@webinar = Webinar.new%>
	<%= render 'webinars/webinar_modal' %>
<%end%>