<h4> Followers</h4>

<% if profileLoopData["followers"].size>0 %>
  <div id="followers" class="tab-pane in active">
    <div class="row">
      <div class="followers">
        <% profileLoopData["followers"].each do |loop_contact| %>
          <div class="following_item"><%= render 'contacts/loop_contact', :contact => loop_contact, :showActions => isProfileOwner %></div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="no_items">
    <p>You do not have followers. You can be followed by other researchers in</p>
    <% unless profileLoopData["user_data"]["profileUrl"].blank? %>
    <%= link_to(image_tag('loop_logo.svg', :alt => 'Loop'), profileLoopData["user_data"]["profileUrl"], :class => "loop_profile", :target => '_blank', :data =>{:toggle => "tooltip"}, :title => "Visit Loop"); %>
    <% end %>
  </div>
<% end %>
