<% if loop_contacts.size > 0 %>
<div class="network" class="tab-pane in active">
	<div class="row">
		<% loop_contacts.each do |loop_contact| %>
		<div class="network_item"><%= render 'contacts/loop_contact', :contact => loop_contact%></div>
		<% end %>
	</div>
</div>

<% else %>
  <div class="no_items">
    <p>Meet other researchers in</p>
    <% unless profileLoopData["user_data"]["profileUrl"].blank? %>
      <%= link_to(image_tag('loop_logo.svg', :alt => 'Loop'), profileLoopData["user_data"]["profileUrl"], :class => "loop_profile", :target => '_blank', :data =>{:toggle => "tooltip"}, :title => "Follow people in Loop"); %>
    <% end %>
  </div>
<% end %>
