<h4> Followers</h4>

<div id="followers" class="tab-pane in active">
  <div class="row">
    <div class="followers">
      <% profileLoopData["followers"].each do |loop_contact| %>
        <div class="following_item"><%= render 'contacts/loop_contact', :contact => loop_contact, :showActions => isProfileOwner %></div>
      <% end %>
    </div>
  </div>
</div>
