<div id="publications" class="tab-pane in active">
<%if @user.publications.size>0%>
  <% @user.publications.each do |publication| %>
    <%= render 'publications/publication', :publication => publication, :showActions => isProfileOwner %>
    <hr>
  <% end %>
<%else%>
  <div class="no_items">
    <p>In order to create presentations and webinars you must have at least one publication in</p>
    <% unless profileLoopData["user_data"]["profileUrl"].blank? %>
    <%= link_to(image_tag('loop_logo.svg', :alt => 'Loop'), profileLoopData["user_data"]["profileUrl"], :class => "loop_profile", :target => '_blank', :data =>{:toggle => "tooltip"}, :title => "Do it in Loop"); %>
    <% end %>
  </div>
<%end%>
</div>

<%if isProfileOwner && @user.publications.size>0%>
	<%@webinar = Webinar.new%>
	<%= render 'webinars/webinar_modal', :action => 'Create'  %>

	<script>
		$(document).ready(function () {
			$(document).on("click", ".btn-webinar", function () {
			     var pubid = $(this).attr('data-pub');
			     $("#new_webinar_modal #webinar_publication_id").val(pubid);
			});
		});
	</script>
<%end%>
