
<h4> Followings</h4>
<%if profileLoopData["followings"].size>0%>
  <div id="followings" class="tab-pane in active">
    <div class="row">
      <div class="followings">
        <% profileLoopData["followings"].each do |loop_contact| %>
          <div class="following_item"><%= render 'contacts/loop_contact', :contact => loop_contact, :showActions => isProfileOwner %></div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="no_items">
    <p>You do not have followings. You can follow researchers in</p>
    <% unless profileLoopData["user_data"]["profileUrl"].blank? %>
    <%= link_to(image_tag('loop_logo.svg', :alt => 'Loop'), profileLoopData["user_data"]["profileUrl"], :class => "loop_profile", :target => '_blank', :data =>{:toggle => "tooltip"}, :title => "Follow people in Loop"); %>
    <% end %>
  </div>
<% end %>
