<div id="presentations" class="tab-pane in active">
    <ul>
      <% @user.webinars.each do |webinar| %>
        <li><%= render 'webinars/webinar', :webinar => webinar, :showActions => isProfileOwner %></li>
      <% end %>
    </ul>
</div>