<% @presentations = @user.presentations %>
<% @presentations = @presentations.public unless isProfileOwner %>
<% showCreatePresentation = (isProfileOwner && @user.publications.size>0) %>

<div id="presentations" class="tab-pane in active">
  <div class="row">
    <% if showCreatePresentation %>
      <%= render 'presentations/presentation_new' %>
    <% elsif isProfileOwner %>
      <div class="no_items">
        <p>In order to create a presentation you must have at least one publication in</p>
        <% unless profileLoopData["user_data"]["profileUrl"].blank? %>
        <%= link_to(image_tag('loop_logo.svg', :alt => 'Loop'), profileLoopData["user_data"]["profileUrl"], :class => "loop_profile", :target => '_blank', :data =>{:toggle => "tooltip"}, :title => "Do it in Loop"); %>
        <% end %>
      </div>
    <%end%>
    <% @presentations.each do |presentation| %>
      <%= render 'presentations/presentation', :presentation => presentation, :showActions => isProfileOwner  %>
    <% end %>
  </div>
</div>

<% if showCreatePresentation %>
  <%= render 'presentations/presentation_modal' %>
<% end %>
