<div id="followings" class="tab-pane in active">
  <div class="row">
    <ul>
      <% profileLoopData["followings"].each do |loop_contact| %>
        <li><%= render 'contacts/loop_contact', :contact => loop_contact, :showActions => isProfileOwner %></li>
      <% end %>
    </ul>
  </div>
</div>