<div id="presentations" class="tab-pane in active">
	<ul>
    <% @user.presentations.each do |presentation| %>
      <li><%= render 'presentations/presentation', :presentation => presentation, :showActions => isProfileOwner %></li>
    <% end %>
    </ul>
</div>