<div id="publications" class="tab-pane in active">
  <% @user.publications.each do |publication| %>
    <%= render 'publications/publication', :publication => publication, :showActions => isProfileOwner %>
    <hr>
  <% end %>
</div>

<%if isProfileOwner && @user.publications.size>0%>
	<%@webinar = Webinar.new%>
	<%= render 'webinars/webinar_modal' %>

	<script>
		$(document).ready(function () {
			$(document).on("click", ".btn-webinar", function () {
			     var pubid = $(this).attr('data-pub');
			     $("#myModal #webinar_publication_id").val(pubid);
			});
		});
	</script>
<%end%>