<% isProfileOwner = (user_signed_in? and current_user==@user) %>

<%= render "users/profile_header", :isProfileOwner => isProfileOwner, :active => "presentations" %>

<div class="profile_tab_wrapper">
    <%= render "users/show_presentations", :isProfileOwner => isProfileOwner %>
</div>