<div id="idem-presentation" class="row">
    <%= image_tag('main_bg.jpg', :alt => 'idem'); %>
    <div id="publi">
		<p>enrich your frontiers publications with presentations</p>
		<p>diseminate your research with webinars</p>
    </div>
</div>

<div id="contents">
	<div id="presentations">
		<h3 role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">featured presentations</h3>
		<div id="collapseOne" class="collapse in row">
			<% @presentations.each do |presentation| %>
		    	<%= render 'presentations/presentation', :presentation => presentation %>
		  	<% end %>
		</div>
		<div id="content-footer"></div>
	</div>

	<div id="webinars">
		<h3 role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">upcoming webinars</h3>
		<div id="collapseTwo" class="collapse row">
			<% @webinars.each do |webinar| %>
		    	<%= render 'webinars/webinar', :webinar => webinar %>
		  	<% end %>
		</div>
		<div id="content-footer"></div>
	</div>
</div>