<% contact ||= {} %>
<% fullName = (contact["firstName"].blank? ? "" : contact["firstName"]) + (contact["lastName"].blank? ? "" : " " + contact["lastName"]) %>



<% unless contact["pictureUrl"].blank? %>
  <img src=<%=contact["pictureUrl"]%>></img>
<% end %>
<!--
<#% unless contact["profileUrl"].blank? %>
  <img src=<%=contact["profileUrl"]%>></img>
<#% end %>
-->
<div class="contact_info">
  <% unless fullName.blank? %>
    <div class="contact_name"><%=fullName%></div>
  <% end %>

  <% unless contact["jobTitle"].blank? %>
    <div class="contact_job"><%=contact["jobTitle"]%></div>
  <% end %>
</div>
