development:
  domain: "localhost:3000"
  # LOOP credentials. Register your app at https://developers-registration.frontiersin.org
  # loop:
  #   oauth2_client_id: ""
  #   oauth2_client_key: ""
  #   oauth2_primary_subscription_key: ""
  #   oauth2_secondary_subscription_key: ""
  #  licode: 
  #	  auth_url: "url"
  #	  service_id: "id"
  #	  service_key: "key"