// home
#idem-presentation
  //position: relative
  max-height: 280px
  overflow: hidden
  img
    width: 100%
    //margin-top: -700px
  #publi
    position: absolute
    left: 50px
    top: 27%
    color: white
    font-size: 2em
    font-weight: bold
    text-shadow: 1px 1px 10px #000
    overflow: hidden
    height: 40px
    width: 100%
    ul
      margin-top: 0
      padding-left: 291px
      text-align: left
      list-style: none
      animation: 24s linear 0s normal none infinite change
      width: calc(100% - 51px)
      li
        line-height: 40px
        margin: 0
        height: 40px
        overflow-x: hidden
        white-space: nowrap
        text-overflow: ellipsis
    p
      display: inline
      margin-top: -2px
      float: left
    @media (max-width: 662px)
      font-size: 1.7em
      top: 15%
    @media (max-width: 400px)
      display: none

#contents
  .nav-tab-home
    padding: 0
    height: auto
    background: none
    border: none
    li
      @include tab-no-transition-border
      margin-bottom: -2px
      @media (max-width: 991px)
        min-height: 65px
      @media (max-width: 570px)
        min-height: 35px
        .tab_txt
          display: none
        i
          font-size: 1.5em

    li.presentations-title
      background-color: $light-red
      border-top: 3px solid $idem-red
      @include transition_red
      a
        color: $idem-red
    li.presentations-title.active
      background-color: $idem-red
      a
        color: $white

    li.webinars-title
      background-color: $light-yellow
      border-top: 3px solid $idem-yellow
      @include transition_yellow
      a
        color: $idem-yellow
    li.webinars-title.active
      background-color: $idem-yellow
      a
        color: $white

    li.recordings-title
      background-color: $light-orange
      border-top: 3px solid $idem-orange
      @include transition_orange
      a
        color: $idem-orange
    li.recordings-title.active
      background-color: $idem-orange
      a
        color: $white
    li.publications-title
      background-color: $light-green
      border-top: 3px solid $idem-green
      @include transition_green
      a
        color: $idem-green
    li.publications-title.active
      background-color: $idem-green
      a
        color: $white
  .tab-content-home
    .tab-pane
      width: 100%
      padding: 2%
      overflow: hidden
