// home

#idem-presentation
  position: relative
  img
    width: 100%
    margin-top: -700px
  #publi
    position: absolute
    bottom: 60px
    left: 80px
    color: white
    font-size: 22pt
    font-weight: bold
    p
      margin-bottom: 0

#contents
  padding-left: 65px
  padding-right: 65px
  h3
    padding-left: 80px
    padding-top: 15px
    padding-bottom: 15px
    margin: 0
    margin-left: -80px
    margin-right: -80px
    color: white

  .row
    padding: 35px 35px

  #presentations
    h3
      background-color: $idem-red
    hr
      background-color: $idem-red
  #webinars
    h3
      background-color: $idem-yellow
    hr
      background-color: $idem-yellow
