.publication-title
	a
		color: $gray-light
.box-show
	padding-top: 10px
.doc-show
	padding: 20px 50px
.presentation_viewer_wrapper
	height: 500px

.actions-header-presentation
	color: $idem-red
	margin: 10px 0

.tooltab
	margin-top: 30px
	margin-left: -80px
	margin-right: -80px
