.publication-title
	a
		color: $gray-light
.box-show
	padding-top: 10px
.doc-show
	padding: 20px 80px
.presentation_viewer_wrapper
	height: 500px
.actions_layout_show
	
.actions-header-presentation
	color: $idem-red
	//margin-top: 25px
.tooltab
	margin-top: 30px
	margin-left: -80px
	margin-right: -80px

.author_presentations_list
	margin-top: 20px
