// user

hr
  background-color: $idem-orange

#user
  padding: 40px 80px
  height: 232px

  img
    float: left
    width: 150px

  #info
    padding-left: 180px
    p
      color: grey
      margin-bottom: 0
    #name
      font-size: 20pt
      font-weight: bold
      margin-bottom: 5px
      color: black
    #title
      color: $idem-orange
    #organization
      margin-bottom: 5px
    #degree,  #location
      font-size: 10pt
      color: #BBBBC1
    i
      width: 20px

.nav
  height: 46px
  background-color: $gray-lighter-extra
  padding-left: 80px
  a
    color: grey
  li.active
    a, a:hover
      color: $idem-red
      background-color: transparent
      border: none
      border-bottom: 4px solid $idem-red
      font-weight: bold
  li
    a:hover
      border-bottom: 4px solid #CCC
  #publications_tab.active
    a
      color: $idem-orange
      border-bottom: 4px solid $idem-orange

  #webinars_tab.active
    a
      color: $idem-yellow
      border-bottom: 4px solid $idem-yellow

.profile_tab_wrapper
  padding: 25px 80px
