// user
hr
  background-color: $idem-orange

#user
  padding: 40px 80px
  height: 232px

  img
    float: left
    width: 150px
    border-radius: $radius-base

  #info
    padding-left: 180px
    p
      color: grey
      margin-bottom: 0
    #name
      font-size: 20pt
      font-weight: bold
      margin-bottom: 5px
      color: black
    .loop_profile
      position: absolute
      padding: 10px
      img
        width: 40px
    #title
      color: $idem-orange
    #organization
      margin-bottom: 5px
    #degree,  #location
      font-size: 10pt
      color: #BBBBC1
    i
      width: 25px
      text-align: center

.user-nav
  height: 65px
  a
    text-align: center
  .resource_count
    float: right
    width: 100%
    text-align: center


.profile_tab_wrapper
  padding: 25px 80px
