.followings, .followers
  .following_item
    height: 80px
    padding: 10px
    border-bottom: 1px solid $gray-lighter
    img
      height: 100%
      margin-right: 10px
      float: left
    .contact_info
      float: left
      .contact_name
        font-weight: bold
        font-size: 0.9em
        color: $gray-dark
      .contact_job
        font-weight: bold
        font-size: 0.8em
        color: $idem-orange
  .following_item:last-child
    border: none
