#publications

  hr
    height: 1px
    margin-left: -120px
    margin-right: -80px
    border: none
    background-color: #E8E8E8
    margin-top: 20px
    margin-bottom: 20px

  .publication_actions
    text-align: right
    .button-secondary
      width: 160px
      margin-bottom: 8px

  h4
    a
      color: black
