#publications
  hr
    height: 1px
    margin-left: -120px
    margin-right: -80px
    border: none
    background-color: #E8E8E8
    margin-top: 20px
    margin-bottom: 20px

  .publication_actions
    text-align: right
    .button-secondary-green
      width: 180px
      margin-bottom: 8px
      margin-left: 5px
  h4
    a
      color: black

.publication-item
  max-width: 200px
  min-width: 220px
  min-height: 256px
  padding: 10px
  .publication
    height: 246px
    border: 1px solid $idem-green
    border-radius: $radius-base
    .title_icon
      position: absolute
      background-color: $idem-green
      padding: 10px
      border-radius: 0 0 3px 0
      a
        color: white
        h5
          margin: 0
          i
            float: left
            width: 10%
    .caption
      padding: 10px 10px
      min-height: 194px
      .avatar_prox
        height: 70px
      p
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
        margin-bottom: 5px

      .title
        line-height: 1.2em
        font-size: 1em
        color: $idem-green
        font-weight: 500
        min-height: 65px
        max-height: 65px
        &:hover
          color: darken($idem-green, 10)

      .date
        margin-bottom: 10px
        h4
          color: $idem-green
          font-size: 10pt
          font-weight: bold
      .author
        line-height: 1em
        min-height: 55px
        max-height: 55px
        margin-bottom: 10px
        display: -webkit-box
        -webkit-line-clamp: 4
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis

        a
          font-size: 0.9em
          color: $gray-accesible
          font-weight: 400
          &:hover
            color: $gray-dark
      img
        width: 35px

.publication_item_mini
  position: relative
  height: 74px
  padding: 10px
  margin: 10px 15px 10px 3px
  @include box-shadowed
  .caption
    float: left
    width: 100%
    h5
      height: 31px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      font-size: 10pt
      margin: 0
      width: calc(100% - 20px)
      a
        color: $idem-green
    .author
      float: left
      img
        width: 30px
        vertical-align: middle
      a
        color: black
        font-size: 0.8em
        color: $gray-dark
        &:hover
          color: $black
    .link
      position: absolute
      right: 12px
      top: 7px
      display: none
      a
        color: $gray
        margin-left: 5px
    .logo_loop
      float: right
      width: 40px
  &:hover
    //background-color: $gray-lighter-extra
    .link
      display: block
    .link
      a:hover
        color: black
