// webinar

.webinar-item
  max-width: 200px
  min-width: 230px
  min-height: 256px
  padding: 10px


  .webinar
    height: 246px
    border: 1px solid $idem-yellow
    border-top: 50px solid $idem-yellow
    border-radius: $radius-base

    .caption

      padding: 10px 10px

      h5
        margin-left: -4px
        margin-right: -4px
        margin-top: -50px
        margin-bottom: 17px
        height: 31px
        overflow: hidden
        position: relative
        a
          color: white
          position: absolute
          width: 100%
          height: 100%

      .publication
        height: 74px
        margin-bottom: 10px
        a
          color: black
          font-size: 9pt

      .date
        margin-bottom: 10px
        h4
          color: $idem-yellow
          font-size: 10pt
          font-weight: bold

      .author
        margin-bottom: 10px
        img
          width: 30px
        a
          color: black
          font-size: 10pt

      .link
        height: 30px
        top: 25px
        border: 1px solid $idem-yellow
        padding-top: 3px
        text-align: center
        border-radius: 3px
        a
          font-size: 11pt
          color: $idem-yellow

  .create-webinar
    cursor: pointer
    text-align: center
    color: $idem-yellow
    border: 3px dotted
    i
      font-size: 55pt
      margin-top: 50px
    p
      padding: 20px 30px
      font-weight: bold

.webinar_item_mini
  position: relative
  height: 74px
  padding: 10px
  margin: 5px
  @include box-shadowed
  .presentation-image
    height: 100%
    width: 34%
    float: left
  .date
    position: absolute
    right: 10px
    bottom: 1px
    p
      float: right
      margin-left: 5px
      font-size: 0.9em
  .caption
    float: left
    width: 100%
    h5
      height: 31px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      font-size: 10pt
      margin: 0
    .author
      img
        height: 23px
      a
        font-size: 8pt
        font-weight: bold
        color: black

    .link
      position: absolute
      right: 12px
      top: 7px
      display: none
      a
        color: $gray
        margin-left: 5px
  &:hover
    background-color: $gray-lighter-extra
    .link
      display: block
    .link
      a:hover
        color: black
