<% generated_id = (item[:repository].to_s + item[:id_repository].to_s) %>

<div class="publication_item_mini">

  <!-- Info -->
  <div class="caption">

    <!--Title -->
    <h5>
    <i class="fa fa-graduation-cap"></i> <%= item[:title]%>
    </h5>

    <!--Author -->
    <div class="author">
      <a><%= item[:authors].split(",")[0]%> et al.</a>
    </div>

    <%= image_tag('loop_logo.svg', :alt => 'Loop', :class => 'logo_loop') %>

    <!-- Link -->
    <div class="link">
      <a href="<%= item[:url]%>" target="_blank"><i class="fa fa-eye"></i></a>
    </div>
  </div>
</div>