.button-disabled
  opacity: .4
  pointer-events: none

.button-secondary
  border: 1px solid $idem-orange
  padding: 4px 10px
  text-align: center
  font-size: 0.9em
  border-radius: $radius-base
  background-color: white
  color: $idem-orange
  @include btn-transition-orange
  a
    color: $idem-orange
  &:hover
    color: white
    a
      color: white

.button-primary
  border: 1px solid $idem-orange
  padding: 4px 10px
  text-align: center
  font-size: 0.9em
  border-radius: $radius-base
  background-color: $idem-orange
  color: white
  a
    color: white

.button-secondary-red
  border: 1px solid $idem-red
  padding: 4px 10px
  text-align: center
  font-size: 0.9em
  border-radius: $radius-base
  background-color: white
  color: $idem-red
  @include btn-transition-red
  a
    color: $idem-red
  &:hover
    color: white
    a
      color: white !important

.button-primary-red
  border: 1px solid $idem-red
  padding: 4px 10px
  text-align: center
  font-size: 0.9em
  border-radius: $radius-base
  background-color: $idem-red
  color: white
  a
    color: white

.button-secondary-yellow
  border: 1px solid $idem-yellow
  padding: 4px 10px
  text-align: center
  font-size: 0.9em
  background-color: white
  color: $idem-yellow
  border-radius: $radius-base
  @include btn-transition-yellow
  a
    color: $idem-yellow
  &:hover
    color: white !important
    a
      color: white !important

.button-primary-yellow
  //border: 1px solid $idem-yellow
  border: none
  padding: 4px 10px
  text-align: center
  font-size: 0.9em
  border-radius: $radius-base
  background-color: $idem-yellow
  color: white
  a, i
    color: white
  &:hover
    background-color: $dark-yellow
    border-radius: $radius-base

//exceptions

.special_record
  font-size: 0.9em !important
  color: $idem-red !important
  padding: 3px
