.button-secondary
  width: 100px
  height: 30px
  top: 25px
  border: 1px solid $idem-orange
  padding-top: 3px
  text-align: center
  border-radius: $radius-base
  a
    color: $idem-orange

.button-primary
  width: 100px
  height: 30px
  top: 25px
  border: 1px solid $idem-orange
  padding-top: 3px
  text-align: center
  border-radius: $radius-base
  background-color: $idem-orange
  a
    color: white
