// header

header
  height: 75px

  #idem-logo
    width: 122px


  #profile
    position: absolute
    right: 135px
    height: 30px
    top: 25px
    text-align: center
    border-radius: 3px
    img
      width: 30px
      margin-right: 5px
    a
      padding-top: 3px
      font-weight: bold
      font-size: 11pt
      color: black

  #register
    position: absolute
    right: 135px


  #login
    position: absolute
    right: 25px
    
