// header

header
  height: 75px

  #idem-logo
    width: 122px

  .header-tools
    width: 100px
    height: 30px
    top: 25px
    border: 1px solid $idem-orange
    padding-top: 3px
    text-align: center
    border-radius: 3px

  #profile
    position: absolute
    right: 135px
    height: 30px
    top: 25px
    text-align: center
    border-radius: 3px
    img
      width: 30px
      margin-right: 5px
    a
      padding-top: 3px
      font-weight: bold
      font-size: 11pt
      color: black

  #register
    position: absolute
    right: 135px
    background-color: $idem-orange
    a
      color: white

  #login
    position: absolute
    right: 25px
    a
      color: $idem-orange
