//title nav-tab
.nav
  height: 46px
  @include gradient
  padding-left: 80px
  a
    color: grey
  li.active
    a, a:hover, a:focus
      color: $idem-red
      background-color: transparent
      border: none
      font-weight: bold
  li.tab_webinar.active
    a
      color: $idem-yellow
  li
    @include tab-transition-border
    a:hover, a:focus, a:active
      background-color: transparent
      border-color: transparent

  #publications_tab.active
    &:after
      @include tab-border
      background: $idem-orange
    a
      color: $idem-orange
  #presentations_tab.active, .tab_presentation.active
    &:after
      @include tab-border
      background: $idem-red

  #webinars_tab.active, .tab_webinar.active
    &:after
      @include tab-border
      background: $idem-yellow
    a
      color: $idem-yellow
  #network_tab.active
    &:after
      @include tab-border
      background: $gray-dark
    a
      color: $gray-dark


//tab content
.tab-content
  padding-top: 20px
  font-size: 10pt
  min-height: 100px
  .tab-pane
    width: 65%
    .contentscormc2
      padding: 10px 0
      color: $gray-dark
