#idem_notifications
	position: absolute
	top: 60px
	right: 20px
	z-index: 9999
	.alert
		font-size: 0.9em
		padding: 10px 35px 10px 15px

.no_items
	//background: $gray-lighter-extra
	border: 1px solid $gray
	overflow: hidden
	font-size: 0.9em
	border-radius: $radius-base
	color: $gray
	padding: 20px
	width: 80%
	p, a
		float: left
		margin: 0
		img
			width: 40px
			margin-left: 10px
