/* General style */

html, body
  width: 100%
  height: 100%
  font-size: 1em
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

*
  outline: none !important

h1, h2, h3, h4, h5
  margin: 5px 0
a
  text-decoration: none !important

hr
  padding: 0
  margin: 0
  height: 10px
  margin-left: -80px
  margin-right: -80px
  border: none

div#container
  width: 100%
  overflow: hidden
  min-height: calc(100% - 150px)
  &after
    content: ""
    display: block
    height: 75px

/*css arrows*/
.arrow-up-orange
  width: 0
  height: 0
  border-style: solid
  border-width: 10px
  border-width: 0px 6px 7px 6px
  border-color: $idem-orange transparent
  position: absolute
  top: -9px
  left: 44px

/* line decoration colors */
.colors-dec
  height: 5px
  width: 100%
  margin: 0
  .col-xs-3
    height: 100%

/* Waiting for buttons */
.waiting
  cursor: wait !important
/* base colors */
.red
  background-color: $idem-red
.orange
  background-color: $idem-orange
.yellow
  background-color: $idem-yellow
.green
  background-color: $idem-green

.red_txt
  color: $idem-red
.orange_txt
  color: $idem-orange
.yellow_txt
  color: $idem-yellow
.green_txt
  color: $idem-green


.form-group
  margin-bottom: 10px

.popover
  font-weight: bold
  .popover-title
    display: none
