/* General style */

html, body {
  width: 100%;
  height: 100%;
  background-color: #dadada;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
   outline: 0 !important;
}

/* Waiting for buttons */
.waiting {
  cursor: wait !important;
}

div#container {
  padding: 3% 6% 6% 6%;
  width: 100%;
  height: auto;
  overflow: hidden;
}