<header id="header">
	<ul>
		<li id="idem_logo"><%= link_to(image_tag('idem_logo.svg', :alt => 'idem'), '/', :class => "logo"); %></li>
		<li id="register"><a href="https://registration.frontiersin.org/people/register-user" target="_blank">Register</a></li>
		<% User.omniauth_providers.each do |provider| %>
		<li id="login"><%= link_to t('devise.links.sign_in_with_provider', provider: provider.to_s.titleize), user_omniauth_authorize_path(provider.to_sym) %></li>
		<% end %>
	</ul>
</header>