<div id="idem-logo"><%= link_to(image_tag('idem_logo.svg', :alt => 'idem'), '/', :class => "logo"); %></div>
<div id="profile">
	<%= image_tag('logos/small/user.png', :alt => current_user.name) %>
	<%= link_to(current_user.name, user_path(current_user)) %>
</div>
<div class="button-secondary" id="login"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></div>
