<header id="header">
	<ul>
		<li id="idem_logo"><%= link_to(image_tag('idem_logo.svg', :alt => 'idem'), '/', :class => "logo"); %></li>
		<li id="register"><a href="<%=new_user_registration_path%>">Register</a></li>
		<li id="login"><a href="<%=new_user_session_path%>">Log In</a></li>
	</ul>
</header>