<header id="header">
	<ul>
		<li><a href="<%=home_path%>">Home</a></li>
		<li><a href="<%=new_user_registration_path%>">Register</a></li>
		<li><a href="<%=new_user_session_path%>">Log In</a></li>
	</ul>
</header>